body{
	background: #fff;
}
section{
	background:#fff  url(../img/6598184671447109723.gif) no-repeat center center;
	top: 44px;
}

section li{
	background: #fff;
}
footer ul li:nth-child(1) {
	border-top: 4px solid transparent;
}

footer ul li:nth-child(1) i{
	color: #5e5e5e;
}
footer ul li:nth-child(1) a{
	color: #5e5e5e;
}

footer ul li:nth-child(2) {
	border-top: 4px solid #B2BF3D;
}


#classList li .span3{
	-z-index: 20;
}

footer ul li:nth-child(2) i{
	color: #B2BF3D;
}
footer ul li:nth-child(2) a{
	color: #B2BF3D;
}


