body{
	background: #fff;
}
.swiper-container{
	margin-top: 44px;
	background: url(../img/6598184671447109723.gif) no-repeat center center;
}

.swiper-wrapper{
	width: 100%;
	height: 100%;
}

.swiper-wrapper .swiper-slide{
	width: 100%;
	height: 100%;
	
}

.swiper-wrapper .swiper-slide img{
	width: 100%;
	height: 100%;
}




